<!--ここはtopページ-->
<div class="top">
  <h1 class="title">ようこそ<strong>Bookers</strong>へ！</h1>
  <div class="main-text">
    <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
    <P>印象を共有し交換することができます</P>
  </div>
  <span class="link-btn"><%= link_to 'Start', books_path %></span>
  
</div>
